<div class="main-content">
    <div class="container-fluid">
        <div class="card">
            <div class="card-header card-header-danger" style="text-align: center">
                <h4 class="card-title">الصور الاستعراضية</h4>
                <p class="card-category">اضافة صور استعراضية الى التطبيق</p>
            </div>
            <div class="card-body">
                <form #f="ngForm" (ngSubmit)="saveFormData(f)" style="direction:rtl">
                    <div class="row">
                        <div class="col-md-12" style="text-align: right; direction: rtl">
                            <h4 style="text-align: right; font-weight: bold">رفع صورة</h4>
                            <input type="file" name="file" id="file" class="inputfile" (change)="onSelectedFile($event)"
                                accept=".png,.jpg" required />
                            <label class="btn btn-danger" for="file"><i style="margin: 0 auto"
                                    class="material-icons">cloud_upload</i></label>
                            <div class="progress">
                                <div class="progress-bar default-bg-color" role="progressbar"
                                    [style.width]="(uploadProgress | async) + '%'"
                                    [attr.aria-valuenow]="(uploadProgress | async)" aria-valuemin="0"
                                    aria-valuemax="100">
                                </div>
                            </div>
                        </div>
                    </div>

                    <button mat-raised-button type="submit" [disabled]="!f.valid" class="btn btn-danger pull-right"><i
                            class="material-icons">check</i>
                        اضافة</button>
                    <button mat-raised-button class="btn btn-danger pull-right" routerLink="/dashboard"><i
                            class="material-icons">cancel</i> الغاء</button>
                    <div class="clearfix"></div>
                </form>
            </div>
        </div>
        <div class="card">
            <div class="card-header card-header-danger" style="text-align: center">
                <h4 class="card-title ">الصور الاستعراضية</h4>
                <p class="card-category">عرض الصور الاستعراضية</p>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-4" *ngFor="let item of slideData">
                        <div class="card" style="margin:5px">
                            <img class="card-img-top" src="{{item.image}}">
                            <div class="card-body" style="text-align: center">
                                <button class="btn btn-danger btn-round btn-sm" (click)="onDelete(item)"><i
                                        style="margin: 0 auto" class="material-icons">delete</i></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>