<h1 style="text-align: center" mat-dialog-title>{{data.article.category}}</h1>
<mat-dialog-content class="mat-typography">
  <div style="text-align: center">
    <img style="width: 50%; height: 50%;" src="{{data.article.image}}" />
    <p>{{data.article.date}}</p>
    <h3 style="text-align: center; font-weight: bold; color: var(--main-bg-color)" class="card-text">
      {{data.article.title}}</h3>
    <div [innerHTML]="data.article.description"></div>
  </div>

</mat-dialog-content>
<mat-dialog-actions>
  <button class="btn btn-danger" mat-button mat-dialog-close>رجوع</button>
</mat-dialog-actions>