<div class="main-content">
    <div class="container-fluid">
        <div class="card">
            <div class="card-header card-header-danger">
                <h4 class="card-title" style="text-align: center">لوحة المقالات الرئيسية</h4>
                <p class="card-category" style="text-align: center">قائمة المقالات المضافة الى التطبيق</p>
                <button mat-raised-button class="btn btn-danger btn-round pull-right" routerLink="/add-article">
                    <i class="material-icons">control_point</i> اضافة مقالة جديدة</button>
                <div class="row" style="direction: rtl">
                    <div class="col-md-6">
                        <mat-form-field>
                            <mat-label>اختر الصنف</mat-label>
                            <mat-select name="category" [(ngModel)]="category">
                                <mat-option value="اخبار الجمال">اخبار الجمال</mat-option>
                                <mat-option value="اظافر">اظافر</mat-option>
                                <mat-option value="مكياجك">مكياجك</mat-option>
                                <mat-option value="عناية بلبشرة">عناية بلبشرة</mat-option>
                                <mat-option value="شعر وتسريحات">شعر وتسريحات</mat-option>
                                <mat-option value="عطور">عطور</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div class="col-md-6">
                        <button mat-raised-button (click)="searchArticles(category)"
                            class="btn btn-danger pull-right"><i class="material-icons">check</i>
                            بحث</button>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div class="row">
                    <div id="no-items-ava">
                        <img src="assets/img/news.svg" style="width: 100px;height: 100px;">
                        <p style="font-weight: bold; margin:10px">لا يوجد عناصر</p>
                    </div>
                    <div id="SHOW">
                        <div class="row">
                            <div class="col-md-4" *ngFor="let item of articlesData">
                                <div class="card" style="margin:5px">
                                    <img class="card-img-top" src="{{item.image}}">
                                    <div class="card-body">
                                        <h5 class="card-title">{{item.title}}</h5>
                                        <p style="max-width: 250px" class="card-text"
                                            [innerHTML]="substringText(item.description)"></p>
                                        <p class="card-text"><small class="text-muted">{{item.category}}</small></p>
                                        <button class="btn btn-danger btn-round btn-sm" (click)="viewDialog(item)"><i
                                                style="margin: 0 auto" class="material-icons">visibility</i></button>
                                        <button class="btn btn-danger btn-round btn-sm" (click)="updateArticle(item)"><i
                                                style="margin: 0 auto" class="material-icons">edit</i></button>
                                        <button class="btn btn-danger btn-round btn-sm"
                                            (click)="openDialog(item.id, item.imgname,item.category)"><i
                                                style="margin: 0 auto" class="material-icons">delete</i></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>