<div class="main-content">
        <div class="container-fluid">
                <div class="card">
                        <div class="card-header card-header-danger">
                                <h4 class="card-title" style="text-align: center">مكياجي</h4>
                                <p class="card-category" style="text-align: center">المنصة</p>
                              
                        </div>
                        <div class="card-body">
                              


                        </div>
                </div>
        </div>
</div>