<div class="main-content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
          <div class="card">
            <div class="card-header card-header-danger">
              <h4 class="card-title" style="text-align: center">اضافة قسم</h4>
              <p class="card-category" style="text-align: center">اضافة قسم جديد الى قائمةالاقسام</p>
            </div>
            <div class="card-body">
              <div>
                <form #f="ngForm" (ngSubmit)="saveFormData(f)">
                  <div class="row" style="direction: rtl">
                    <div class="col-md-12">
                      <mat-form-field>
                        <input autocomplete="off" matInput placeholder="اسم القسم" name="name" [(ngModel)]="section.name"
                          required>
                      </mat-form-field>
                    </div>
                    <div class="col-md-12" style="text-align: right; direction: rtl">
                        <h4 style="text-align: right; font-weight: bold">صورة القسم</h4>
                        <input type="file" name="file" id="file" class="inputfile" (change)="onSelectedFile($event)"
                          accept=".png,.jpg" required />
                        <label class="btn btn-danger" for="file"><i style="margin: 0 auto"class="material-icons">cloud_upload</i></label>
                        <div class="progress">
                          <div class="progress-bar default-bg-color" role="progressbar"
                            [style.width]="(uploadProgress | async) + '%'" [attr.aria-valuenow]="(uploadProgress | async)"
                            aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    </div>
                  </div>
                  <button mat-raised-button type="submit" [disabled]="!f.valid" class="btn btn-danger pull-right"><i
                      class="material-icons">check</i> اضافة</button>
                  <button mat-raised-button class="btn btn-danger pull-right" routerLink="/sectionview"><i
                      class="material-icons">cancel</i> الغاء</button>
                  <div class="clearfix"></div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>